section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


section .bg {
    min-height: 100%;
    min-width: 1024px;

    top: 0;
    bottom: 0;
    left:0;
    width: 100%;
    height: auto;
    position: fixed;
    object-fit: cover;
    pointer-events: none;
}

.login {
    position: relative;
    padding: 60px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    border: 1px solid #ffffff;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1);
}

.login h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: #8f2c24;
    margin-bottom: 10px;
}

.login .inputbox {
    position: relative;
}

.login .inputbox input {
    all: unset;
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color: #8f2c24;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    transition: 150ms
        cubic-bezier(0.4,0,0.2,1);
}

/* .login .inputbox .label {
     position: relative;
    
    pointer-events: none; 
    transition: 150ms
        cubic-bezier(0.4,0,0.2,1); 

    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    padding: 0 10px;
    color: #999;
} */

.login .inputbox input:focus {
    border: 1px solid #8f2c24;
}

.login .inputbox input:is(:focus, :valid) ~ label {
    transform: 
        translateY(-120%)
        scale(0.7);
    background-color: #1a1a1a;
    padding-inline: 0.3rem;
    color: #8f2c24;
}

.login .inputbox input ::placeholder {
    color: #8f2c24;
}

.login .inputbox #submit {
    position: relative;
    text-align: center;
    border: none;
    outline: none;
    background: #8f2c24;
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 500;
    transition: 0.55;
}

.login .inputbox #submit:hover {
    background: #d64c42;
} 
.login .group {
    display: flex;
    justify-content: space-between;
}

.login .group a {
    font-size: 1.25em;
    color: #8f2c24;
    font-weight: 500;
    text-decoration: none;
}

.login .group a:nth-child(1){
    text-decoration: underline;
}