:root {
    --text-color : #540504
}
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
h4 {
    color: var(--text-color);
}

section .bg {
    min-height: 100%;
    min-width: 1024px;

    top: 0;
    bottom: 0;
    left:0;
    width: 100%;
    height: auto;
    position: fixed;
    object-fit: cover;
    pointer-events: none;
}

.login {
    position: relative;
    padding: 60px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(0,0,0,0.0);
    border-right: 1px solid rgba(0,0,0,0.0);
    border-radius: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px rgba(0,0,0,0.2);
      
}

.login h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 10px;
}

.login .inputbox {
    position: relative;
}

.login .inputbox input {
    all: unset;
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color: var(--text-color);
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 30px;
    transition: 150ms
        cubic-bezier(0.4,0,0.2,1);
}

 .login .inputbox .label {
     position: fixed;
    pointer-events: none; 
    transition: 150ms
        cubic-bezier(0.4,0,0.2,1); 
    transform: translateY(-100%);
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 50%;
    left: 5px;
    font-size: 1.25em;
    font-weight: bold;
    background: transparent;
    padding: 0 1px;
    color: var(--text-color);
} 

/* .login .inputbox input:focus {
    border-bottom: 1px solid var(--text-color);
} */

.login .inputbox input:focus ~ label{
    transform: 
        translateY(-230%)
        scale(0.7)
        translateX(-27%);
    background: rgba(0, 0, 0, 0);
    padding-inline: 0.3rem;
}
.login .inputbox input:valid ~ label {
    transform: 
        translateY(-230%)
        scale(0.7)
        translateX(-27%);
    background: rgba(0, 0, 0, 0);
    padding-inline: 0.3rem;
}

.login .inputbox input ::placeholder {
    color: var(--text-color);
}

.login .inputbox #submit {
    position: relative;
    text-align: center;
    border: none;
    outline: none;
    background: var(--text-color);
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 500;
    transition: 0.55;
}

.login .inputbox #submit:hover {
    background: #d64c42;
} 
.login .group {
    display: flex;
    justify-content: space-between;
}

.login .group a {
    font-size: 1.25em;
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
}

.login .group a:hover{
    text-decoration: underline;
}